.profile-image {
    background-image: url('../images/signupimg.jpg');
    padding-bottom: 600px;
    padding-top: 20px;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.profile-container {
    max-width: 1200px;
    margin: 0 auto;
}

.profile-header {
    margin: 10px auto;
}

.profile-stuff {
    display: flex;
    flex-direction: column;
    float: left;
    margin-left: 80px;
    text-align: start;
    margin-top: 40px;
    border: 1px solid black;
    padding: 20px;
    background-color: white;
}

.profile-stuff h3 {
    font-size: 20px;
}

.profile-stuff span {
    color: blue;
}

.dummy-img {
    width: 200px;
    height: 200px;
    border: 1px solid black;
}

.top-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.top-card {
    margin-top: 50px;
    margin-bottom: 10px;
    margin-left: 20px;
    border: 1px solid black;
    padding: 5px;
    background-color: white;
}

 .button-copy {
    margin-left: 20px;
    margin-top: 15px;
    padding: 10px;
}